<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="restAssured.utilities.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="restAssured.testCases.TC001_Get_All_Airlines"/> 
      <class name="restAssured.testCases.TC002_Get_Single_Airline_Record"/>
	  <class name="restAssured.testCases.TC003_Post_Airline_Record"/>
      <class name="restAssured.testCases.TC004_Get_Passenger_By_ID"/>
      <class name="restAssured.testCases.TC005_Post_Passenger_Record"/>
      <class name="restAssured.testCases.TC006_Put_Passenger_By_ID"/>
      <class name="restAssured.testCases.TC007_Patch_Passenger_By_ID"/>
 	  <class name="restAssured.testCases.TC008_Delete_Passenger_By_ID"/>
      <class name="restAssured.testCases.TC009_Get_All_Passengers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
